<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>회원 목록</title>
</head>
<body>
  <table>
    <tr>
      <th>이름</th>
      <th>아이디</th>
      <th>비밀번호</th>
      <th>이메일</th>
      <th>상세조회</th>
      <th>삭제</th>
    </tr>
    <tr th:each="member : ${members}">
      <td th:text="${member.name}"></td>
      <td th:text="${member.userId}"></td>
      <td th:text="${member.password}"></td>
      <td th:text="${member.email}"></td>
      <td>
        <a th:href="@{|/member/detail/${member.id}|}">상세조회</a>
      </td>
      <td>
        <a th:href="@{|/member/delete/${member.id}|}">삭제</a>
      </td>
    </tr>
  </table>
</body>
</html>